<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dataSource>PEPE-PC\SQL2016</dataSource>
  <catalog>CENTRAL_PEPLEX_DB</catalog>
  <user>sa</user>
  <password>pepe1989</password>
  <serviceAdsress>localhost</serviceLayerPort>
  <serviceLayerPort>9090</serviceLayerPort>
  <externalPlatformRestApiPort>9095</uxternalPlatformRestApiPort>
  <updateDB>0</updateDB>
  <rootMainLocal>D:/Peplex/</rootMainLocal>
  <rootVideosLocal>VideosPePlex/</rootVideosLocal>
  <rootImageLocal>ImgPePlex/</rootImageLocal>
  <rootMusicLocal>MusciaPePlex/</rootMusicLocal>
  <rootFilmsLocal>Pelis/</rootFilmsLocal>
  <rootSeriesLocal>Series/</rootSeriesLocal>
</configuration>