<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DataSource>PEPE-PC\SQL2016</DataSource>
  <Catalog>CENTRAL_PEPLEX_DB</Catalog>
  <User>sa</User>
  <Password>pepe1989</Password>
  <ServiceLayerPort></ServiceLayerPort>
  <ExternalPlatformRestApiPort></ExternalPlatformRestApiPort>
  <UpdateDB>0</UpdateDB>
  <rootMainLocal>D:/Peplex/</rootMainLocal>
  <rootVideosLocal>VideosPePlex/</rootVideosLocal>
  <rootImageLocal>ImgPePlex/</rootImageLocal>
  <rootMusicLocal>MusciaPePlex/</rootMusicLocal>
  <rootFilmsLocal>Pelis/</rootFilmsLocal>
  <rootSeriesLocal>Series/</rootSeriesLocal>
</configuration>