<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <serviceAddress>peplexpfc.ddns.net</serviceAddress>
  <serviceLayerPort>9090</serviceLayerPort>
  <externalPlatformRestApiPort>9095</externalPlatformRestApiPort>
  <rootLocal>0</rootLocal>
  <rootMainLocal>D:/Peplex/</rootMainLocal>
  <rootVideosLocal>VideosPePlex/</rootVideosLocal>
  <rootImageLocal>ImgPePlex/</rootImageLocal>
  <rootMusicLocal>MusicaPePlex/</rootMusicLocal>
  <rootFilmsLocal>Pelis/</rootFilmsLocal>
  <rootSeriesLocal>Series/</rootSeriesLocal>
  <adminEmail>peplex13@hotmail.com</adminEmail>
  <adminEmailPass>Peplex.13</adminEmailPass>
</configuration>